/*
|------------------------------------------------------------
| Import of all non-compile files
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| General variables
|------------------------------------------------------------
*/
/*
|------------------------------------------------------------
| General mixins
|------------------------------------------------------------
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Clearfix for modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/*
|------------------------------------------------------------
| Sticky Footer
|------------------------------------------------------------

Usage:

$sticky-footer-height; 100px; // The height of your footer
If the margin on the body needs to be more or less than the height of the footer, a second variable can be declared:
$sticky-footer-margin: 120px;

*/
.purple-dot,
.blue-dot,
.green-dot,
.yellow-dot,
.orange-dot,
.red-dot,
.gray-dot,
.black-dot,
.multicolor-dot {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  float: left;
  clear: none;
  margin-top: 4px;
}

.purple-dot {
  background-color: purple;
}

.blue-dot {
  background-color: blue;
}

.green-dot {
  background-color: green;
}

.yellow-dot {
  background-color: yellow;
}

.orange-dot {
  background-color: orange;
}

.red-dot {
  background-color: red;
}

.gray-dot {
  background-color: gray;
}

.black-dot {
  background-color: black;
}

/* Visit http://www.menucool.com/responsive-slider for instructions */
#ninja-slider {
  width: 100%;
  background: #191919;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

#ninja-slider.fullscreen {
  background: #000;
}

#ninja-slider div.fs-icon {
  top: 6px;
  right: 6px;
  width: 60px;
  height: 26px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  color: white;
  text-align: center;
  font: bold 11px/26px arial;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

#ninja-slider .slider-inner:hover div.fs-icon,
#ninja-slider.fullscreen div.fs-icon {
  opacity: 1;
}

#ninja-slider div.fs-icon::before {
  content: "EXPAND";
  display: block;
}

#ninja-slider.fullscreen div.fs-icon::before {
  content: "CLOSE";
}

#ninja-slider div.slider-inner {
  max-width: 700px;
  margin: 0 auto;
  /*center-aligned */
  font-size: 0px;
  position: relative;
  box-sizing: border-box;
}

#ninja-slider.fullscreen div.slider-inner {
  width: 100%;
  max-width: 900px;
}

#ninja-slider ul {
  position: relative;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
}

#ninja-slider li {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  box-sizing: border-box;
}

#ninja-slider li.ns-show {
  opacity: 1;
}

/* --------- slider image ------- */
#ninja-slider .ns-img {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: contain;
  /*Note: If transitionType is zoom, it will be overridden to cover.*/
  /*decorate border*/
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  cursor: default;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

/*---------- Captions -------------------*/
#ninja-slider div.caption {
  padding: 20px 40px;
  margin: auto;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0px;
  width: auto;
  text-align: right;
  font-family: sans-serif;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.2);
  background: none;
  /*background:rgba(0,0,0,0.12);*/
  position: absolute;
  box-sizing: border-box;
}

#ninja-slider li div.cap1 {
  color: rgba(255, 255, 255, 0.5);
  font: bold 32px arial;
  text-align: center;
  opacity: 0;
  bottom: 40%;
  -webkit-transition: bottom 1.3s, opacity 1s;
  transition: bottom 1.3s, opacity 1s;
}

/*The cap1 of the current slide */
#ninja-slider li[class*='-'] div.cap1 {
  opacity: 1;
  bottom: 20%;
}

#ninja-slider li div.cap2 {
  color: rgba(255, 162, 0, 0.5);
  font-size: 23px;
  bottom: 15%;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

/*The cap2 of the current slide */
#ninja-slider li[class*='-s'] div.cap2 {
  bottom: 10%;
}

/* ---------Arrow buttons ------- */
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */
#ninja-slider-pause-play {
  display: none;
}

#ninja-slider-prev, #ninja-slider-next {
  position: absolute;
  display: inline-block;
  width: 42px;
  height: 56px;
  line-height: 56px;
  top: 50%;
  margin-top: -51px;
  /*pager's height should also be counted*/
  background-color: rgba(0, 0, 0, 0.4);
  background-color: #cccccc \9;
  /*IE8 hack*/
  backface-visibility: hidden;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 2px;
  z-index: 10;
  opacity: 0.3;
  font-family: sans-serif;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  display: none;
}

div.slider-inner:hover #ninja-slider-prev, div.slider-inner:hover #ninja-slider-next {
  opacity: 1;
}

#ninja-slider-prev {
  left: -41px;
  /*set it with a positive value if div.slider-inner does not have max-width setting.*/
}

#ninja-slider-next {
  right: -41px;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
  position: absolute;
  top: 17px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

#ninja-slider-prev::before {
  -ms-transform: rotate(-45deg);
  /*IE 9*/
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 4px;
}

#ninja-slider-next::before {
  -ms-transform: rotate(135deg);
  /*IE 9*/
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 4px;
}

/*pagination num within the arrow buttons*/
#ninja-slider-prev div, #ninja-slider-next div {
  display: none;
}

/*------ pager(nav bullets) ------*/
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-pager { display:none;}*/
#ninja-slider-pager {
  padding-top: 30px;
  /* set the distance away from the slider */
  margin: 0 auto;
  /* center align */
  text-align: center;
  display: table;
  font-size: 0;
}

#ninja-slider-pager a {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #CCC;
  font-size: 0;
  /* Non-zero will show the index num */
  margin: 2px 6px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px #666666;
}

#ninja-slider-pager a:hover {
  opacity: 0.6;
}

#ninja-slider-pager a.active {
  background-color: #1293dc;
  box-shadow: inset 0 1px 3px -1px #28b4ea, 0 1px 1px rgba(0, 0, 0, 0.5);
}

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/*Responsive settings*/
@media only screen and (max-width: 600px) {
  #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
    display: none;
  }

  #ninja-slider li div.cap1 {
    font-size: 20px;
  }
}
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100%;
  background-color: #f3f6f6;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 90%;
  min-height: 100%;
  margin: auto;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #d1d7d7;
  box-shadow: 0px 0px 0px 1px #e5eaea;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
}

/* COLUMNS */
[class*='col-'] {
  float: left;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-4 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-2-4 {
  width: 50%;
}

.col-3-4 {
  width: 75%;
  float: right;
}

.col-4-4 {
  width: 100%;
}

.col-2-12 {
  width: 16.67%;
}

.col-5-12 {
  width: 41.67%;
}

.col-7-12 {
  width: 58.33%;
}

/* END COLUMNS */
/* NAVIGATION */
a {
  text-decoration: none;
}

ul li {
  display: inline;
}

.super-nav {
  min-height: 40px;
}
.super-nav ul {
  margin: 10px 0;
  display: block;
  clear: none;
}
.super-nav ul li {
  border-right: 2px solid #ecefef;
}
.super-nav ul li:last-of-type {
  border-right: 0;
}
.super-nav ul li a {
  color: #898989;
  padding: 5px;
}
.super-nav .navigation-contact {
  float: right;
}
.super-nav .navigation-contact p {
  display: inline;
  clear: none;
  width: auto;
  float: left;
  padding: 10px 5px;
  color: #898989;
}

.logo {
  display: inline;
  clear: left;
  margin: 20px 0;
}
.logo h4 {
  clear: none;
  float: left;
  text-transform: uppercase;
  color: #282727;
  font-weight: bold;
  margin-right: 2px;
}
.logo h4:last-of-type {
  margin-left: 2px;
}
.logo img {
  clear: none;
  float: left;
}

.secondary-navigation {
  border-top: 1px solid #ecefef;
}
.secondary-navigation ul {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 20px 0;
}
.secondary-navigation ul li {
  margin: auto;
  margin-right: 2%;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 37px;
  font-weight: bold;
  color: #282727;
}
.secondary-navigation ul li a img {
  padding: 5px;
  width: 25px;
  vertical-align: middle;
}
.secondary-navigation .side-utilities {
  float: right;
}
.secondary-navigation .side-utilities img {
  padding: 7px;
  margin: 20px 0;
  margin-left: 5px;
  border-radius: 100px;
  border: 4px solid #eaecec;
  vertical-align: middle;
}

header {
  min-height: 115px;
}

.responsive-navigation {
  height: 40px;
}
.responsive-navigation img {
  display: none;
  float: right;
  clear: none;
  margin-top: 28px;
  margin-bottom: -28px;
}
.responsive-navigation ul {
  margin: 0;
}
.responsive-navigation ul li {
  display: none;
}

/* END NAVIGATION */
/* BODY - SLIDER */
.slider {
  margin-top: 70px;
  /* 	.slider-controls {
  		clear: left;
  	a {
  		float: left;
  		display: block;
  		border-radius: 100px;
  		background-color: white;
  		width: 18px;
  		height: 18px;
  		margin: 75px 4px 0 0;
  		border: 2px solid #e3e5e5;
  		&:hover {
  			background-color: #37bbec; /* placeholder for active 
  		}
  	} 
  } */
}
.slider h2 {
  margin: 40px auto 40px auto;
}
.slider p {
  font-size: 18px;
  padding: 0 70px 0 0;
  margin-bottom: 75px;
}
.slider a button {
  cursor: pointer;
  color: white;
  background-color: #37bbec;
  border: none;
  border-radius: 30px;
  padding: 15px 45px;
  float: left;
}
.slider .old-price, .slider .new-price {
  float: right;
  display: block;
}
.slider .old-price {
  text-decoration: line-through;
  color: #37bbec;
  font-size: 24px;
  margin-top: 25px;
  vertical-align: text-bottom;
}
.slider .new-price {
  padding: 0 70px 0 20px;
  color: #282727;
  font-size: 50px;
  line-height: 50px;
}
.slider img {
  float: right;
  width: 100%;
}

#ninja-slider-pager {
  float: left;
  display: block;
}

/* BODY - SLIDER END */
/* BODY - PRODUCTS */
.products {
  clear: both;
  float: left;
}

h3 {
  float: left;
  margin: 100px 0 50px 0;
}

.dropdown-menu {
  clear: left;
}
.dropdown-menu .dropdown-menu-head {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
  padding: 15px 25px;
}
.dropdown-menu .dropdown-menu-head img {
  width: 25px;
  float: right;
  clear: none;
  position: relative;
  padding: 5px;
}
.dropdown-menu ul {
  margin-bottom: 30px;
  border: 1px solid #ecefef;
}
.dropdown-menu ul li {
  display: inline-block;
  width: 100%;
  padding: 10px 25px;
  background-color: #ffffff;
}
.dropdown-menu ul li:nth-of-type(2n) {
  background-color: #fafafa;
}
.dropdown-menu ul li a {
  padding-left: 10px;
}

h5, p {
  width: 100%;
  font-size: 14px;
}

h5 {
  padding: 25px 10px 10px 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #282727;
}

p {
  padding: 0 10px 20px 10px;
  color: #898989;
}

.product-line {
  float: left;
  width: 30.33%;
  margin: 0 0 30px 3%;
  background-color: #ffffff;
}
.product-line img {
  width: 98%;
  margin: 1%;
}

.product-price {
  color: #37BBEC;
}

.catalog {
  clear: left;
}
.catalog h3 {
  margin: 20px 20px 40px 20px;
  position: relative;
  bottom: 200px;
  color: white;
}
.catalog p {
  display: inline-block;
  position: relative;
  bottom: 220px;
  left: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.catalog a button {
  position: relative;
  bottom: 190px;
  left: 20px;
  color: white;
  background: transparent;
  border: 2px solid white;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.catalog img {
  width: 100%;
}

.catalog-clear {
  float: left;
  clear: left;
}

.col-1-4 a {
  color: black;
}

input {
  float: right;
}

.dropdown-arr {
  cursor: pointer;
  webkit-transition: all .5s;
  transition: all .5s;
}

.dropdown-arr-active {
  webkit-transition: all .5s;
  transition: all .5s;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* BODY - PRODUCTS END */
/* BODY - FOOTER */
img.footer-icon {
  float: right;
  clear: none;
}

footer {
  clear: both;
}

.footer {
  background-color: white;
  clear: both;
  height: 50px;
  padding-top: 10px;
}
.footer h5 {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  display: inline;
  clear: none;
}
.footer .col-1-5 {
  margin-right: 6.66%;
}
.footer .col-1-5:last-of-type {
  margin-right: 0;
}
.footer span img {
  margin-left: 20px;
}

/* HELPER MARGIN CLASSES */
.mt-20 {
  margin-top: 20px;
}

/* HELPER MARGIN CLASSES END */
/* MEDIA QUERIES */
@media (max-width: 1170px) {
  h4 {
    font-size: 14px;
  }

  .logo img {
    width: 25%;
  }

  .footer h5 {
    font-size: 12px;
  }

  .footer-icon {
    width: 15%;
    margin-top: 3%;
  }
}
@media (max-width: 960px) {
  .super-nav ul li {
    padding-bottom: 5px;
  }
  .super-nav ul li a {
    font-size: 12px;
    line-height: 12px;
  }

  .navigation-contact p {
    font-size: 12px;
    margin-top: 4px;
  }

  .secondary-navigation ul li {
    font-size: 12px;
  }

  .secondary-navigation .side-utilities img {
    padding: 4px;
    margin: 22px 0 20px 0;
  }

  .slider p {
    font-size: 14px;
  }
  .slider h2 {
    margin: 20px auto 20px auto;
    font-size: 30px;
  }

  .col-1-4 {
    width: 100%;
  }

  .col-3-4 {
    width: 100%;
  }

  .dropdown-menu .dropdown-menu-head {
    padding: 15px;
  }
  .dropdown-menu ul {
    border: none;
    width: 24.6%;
    display: inline-table;
  }
  .dropdown-menu ul li {
    font-size: 14px;
  }

  .catalog {
    display: none;
  }

  .product-line {
    width: 30%;
    margin: 30px 5% 30px 0;
  }
  .product-line:nth-of-type(3) {
    margin-right: 0;
  }

  .footer .col-1-5 {
    margin-right: 1.33%;
    width: 24%;
  }
}
@media (max-width: 860px) {
  .secondary-navigation .col-2-3 {
    display: none;
  }

  .responsive-navigation img {
    display: block;
  }

  .fr {
    float: right;
    position: relative;
    left: -40px;
    bottom: 40px;
  }

  .col-2-12 {
    width: 30%;
  }

  .logo img {
    width: 40px;
  }

  .slider {
    margin-top: 0;
  }
}
