@import "tools/crossroads";

* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	min-height: 100%;
	background-color: #f3f6f6;
	font-family: 'Lato', sans-serif;
	
}

.container {
	width: 90%;
	min-height: 100%;
	margin: auto;
}



header {
	background-color: #ffffff;
	border-bottom: 1px solid #d1d7d7;
	box-shadow: 0px 0px 0px 1px #e5eaea;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}


/* COLUMNS */

[class*='col-'] {
  float: left;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-2-4 {
	width: 50%;
}

.col-3-4 {
	width: 75%;
	float: right;
}

.col-4-4 {
	width: 100%;
}


.col-2-12 {
	width: 16.67%;
}

.col-5-12 {
	width: 41.67%;
}

.col-7-12 {
	width: 58.33%;
}


/* HELPER MARGIN CLASSES */

.mt-20 {
	margin-top: 20px;
}


@import "partials/media-queries"