/*
|------------------------------------------------------------
| General variables
|------------------------------------------------------------
*/


// COLORS

$gray: 				#2c2c2c !default;
$lightGray: 		#d7dbdb !default;
$blue: 		    	#37bbec !default;
$whitish: 		    #f3f6f6 !default;
$yellow:            #fbcf00 !default;

// Typography
// -------------------------
$sansFontFamily:        'Open Sans', Helvetica, Arial, sans-serif !default;
$baseFontSize: 14px;
$baseLineHeight: 21px;

// Font Colors
$baseFontColor: $gray;
$lightFontColor: white;

// StickyFooter
$sticky-footer-height: false !default;
$sticky-footer-margin: $sticky-footer-height !default;